:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}










/*Intro*/
/* Intro Section */
.intro-section {
    height: 100%; /* full screen */
    width: 100%;
    background: url('./bg1.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    color: white;
}

    .intro-section::before {
        content: '';
        position: absolute;
        inset: 0;
    }

.intro-content {
    position: relative; /* above overlay */
    z-index: 1;
}

    .intro-content h1 {
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 1rem;
    }

    .intro-content p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

.intro-btn {
    text-decoration: none;
    padding: 0.75rem 2rem;
    background: #d97706;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
}

    .intro-btn:hover {
        background: #b45309;
        transform: translateY(-2px);
    }

/* Responsive */
@media (max-width: 768px) {
    .intro-content h1 {
        font-size: 2rem;
    }

    .intro-content p {
        font-size: 1rem;
    }

    .intro-btn {
        padding: 0.5rem 1.5rem;
    }
}
